/****总容器部分***/
.wrapper {
	width: 100%;
	height: 100%;
}

/****header部分***/
.wrapper header{
	width: 100%;
	height: 12vw;
	background-color: #0097FF;
	/* background-color: lightskyblue; */
	
	color: #fff;
	font-size: 4.8vw;
	
	position: fixed;
	left:0;
	top:0;
	z-index: 1000;
	
	display: flex;
	justify-content: left;
	align-items: center;
}
.wrapper header .return{
	margin-left: 3vw;
	font-size: 6vw;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
}
.wrapper header p{
	margin-left: 34vw;
}

/*********商家列表部分********/
.wrapper .business {
	width: 100%;
	margin-top: 12vw;
	padding-bottom: 14vw;
}

.wrapper .business li {
	width: 100%;
	box-sizing: border-box;
	padding: 2.5vw;
	border-bottom: solid 1px #DDD;
	user-select: none;
	cursor: pointer;

	display: flex;
	align-items: center;
}

.wrapper .business li .business-img {
	position: relative;
}

.wrapper .business li .business-img img {
	width: 20vw;
	height: 20vw;
}

.wrapper .business li .business-img .business-img-quantity {
	width: 5vw;
	height: 5vw;
	background-color: red;
	color: #fff;
	font-size: 3.6vw;
	border-radius: 2.5vw;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	right: -1.5vw;
	top: -1.5vw;
}

.wrapper .business li .business-info {
	margin-left: 3vw;
}

.wrapper .business li .business-info h3 {
	font-size: 3.8vw;
	color: #555;
	margin-bottom: 3.4vw;
}

.wrapper .business li .business-info p {
	font-size: 3vw;
	color: #888;
	margin-top: 2vw;
}

/**********底部菜单部分*********/
.wrapper .footer{
	width: 100%;
	height: 14vw;
	border-top: solid 1px #DDD;
	background-color: #fff;
	
	position: fixed;
	left: 0;
	bottom: 0;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.wrapper .footer li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: #999;
	user-select: none;
	cursor: pointer;
}
.wrapper .footer li p{
	font-size: 2.8vw;
}
.wrapper .footer li i{
	font-size: 5vw;
}