/****总容器部分***/
.wrapper{
	width: 100%;
	/* height: 100%; */
	background-color: #eee;
}

/****header部分***/
.wrapper header{
	width: 100%;
	height: 12vw;
	display: flex;
	align-items: center;
}
/****search部分***/
.wrapper .search{
	width: 100%;
	height: 13vw;
}
.wrapper .search .search-fixed-top{
	width: 100%;
	height: 13vw;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper .search .search-fixed-top .fa-angle-left{
	font-size: 8vw;
	margin-left: 2vw;
}
.wrapper .search .search-fixed-top .search-box{
	width: 88%;
	height: 9vw;
	background-color: #eee;
	border-radius: 5px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 3.5vw;
	color: #AEAEAE;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	/*此样式是让文本选中状态无效 */
	user-select: none;
	
	margin-right: 2vw;
}
.wrapper .search .search-fixed-top .search-box .fa-search{
	margin-right: 1vw;
}

/***********导航栏***********/
.wrapper .guidelist{
	width: 100%;
	height: 12vw;
	font-size: 3.5vw;
	font-weight: 550;
	color: grey;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/******未支付订单列表部分*****/
.wrapper .allorder{
	width: 100%;
	margin-top: 1vw;
}
.wrapper .allorder h3{
	width:98%;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 3vw;
	margin-left: 1%;
	font-size: 4vw;
	font-weight: 600;
	color: #999;
	border-bottom: solid 1px #DDD;
	border-top: solid 1px #DDD;
}
.wrapper .allorder .order{
	width: 100%;
	
}
.wrapper .allorder .order li{
	width: 98%;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	margin-left: 1%;
	margin-bottom: 0.5vw;
}
.wrapper .allorder .order li .order-info{
	box-sizing: border-box;
	padding: 2vw 4vw;
	font-size: 4vw;
	color: #666;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.wrapper .allorder .order li .order-info .order-info-right{
	display: flex;
}
.wrapper .allorder .order li .order-info .order-info-right .order-info-right-icon{
	background-color: #f90;
	color:#fff;
	border-radius: 3px;
	margin-left: 2vw;
	user-select: none;
	cursor: pointer;
}
.wrapper .allorder .order li .order-detailed{
	width: 98%;
}
.wrapper .allorder .order li .order-detailed li{
	width: 100%;
	box-sizing: border-box;
	padding: 1vw 4vw;
	color: #666;
	font-size: 3vw;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
