/*************总容器的css******************/
.wrapper{
	width:100%;
	heght:100%;
}

/*************头部的css********************/
.wrapper header{
	width: 100%;
	height: 12vw;
	background-color: #0097FF;
	color: #fff;
	font-size: 4.8vw;
	
	position:fixed;
	left: 0%;
	top: 0%;

	display: flex;
	justify-content: center;
	align-items: center;
}

/************** 历史订单部分 *************/
.wrapper h3 {
  margin-top: 12vw;

  box-sizing: border-box;
  padding: 4vw;

  color: #999;
  font-weight: 300;
  font-size: 4vw;
}
.wrapper .order {
  width: 100%;
}
.wrapper .order li {
  width: 100%;
}
.wrapper .order li .order-info{
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 2vw 4vw;

  color: #666;
  font-size: 4vw;
}
.wrapper .order li .order-info .order-info-right {
  display: flex;
}
.wrapper .order li .order-info .order-info-right .order-info-right-icon/*“去支付”*/ {
  background-color: #f90;
  color: #fff;

  border-radius: 3px;
  margin-left: 2vw;

  user-select: none;
  cursor: pointer;
}
.wrapper .order  li .order-detailed{
  width: 100%;
}
.wrapper .order li .order-detailed li{
  width: 100%;
  box-sizing: border-box;
  padding: 1vw 4vw;

  color: #666;
  font-size: 3vw;

  display: flex;
  justify-content: space-between;
  align-items: center; 
}

/******************底部菜单的css***************/
.wrapper .footer {
  width: 100%;
  height: 14vw;
  border-top: solid 1px #ddd;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper .footer li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #999;
  user-select: none;
  cursor: pointer;
}
.wrapper .footer li p {
  font-size: 2.8vw;
}
.wrapper .footer li i {
  font-size: 5vw;
}
