/****总容器部分***/
.wrapper{
	width: 100%;
	height: 100%;
}

/****header部分***/
.wrapper header{
	width: 100%;
	height: 18vw;
	background-color: #FFFFF3;
	
	display: flex;
	align-items: center;
}
.wrapper header img{
	width: 12vw;
	height: 12vw;
	margin: 0 1vw 0 3vw;
}
.wrapper header .fa-cog{
	margin-left: 22vw;
	font-size: 6.2vw;
}
.wrapper header .fa-refresh{
	margin-left: 4vw;
	font-size: 6.2vw;
}


/****用户信息部分***/
.wrapper .userinfo{
	width: 100%;
	height: 23vw;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;	
	
	box-sizing: border-box;
	padding: 2vw 6vw;
}
.wrapper .userinfo li{
	width: 18vw;
	height: 20vw;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	user-select: none;
	cursor: pointer;
}
.wrapper .userinfo li img{
	width: 12vw;
	height: 10vw;
}
.wrapper .userinfo li p{
	font-size: 3.2vw;
	font-weight: 500;
	color: #666;
}

/****订单信息部分***/
.wrapper .listinfo list{
	width: 88%;
	margin:0 auto;
	height: vw;
	background-color: #ffffff;
	margin-top: 1.3vw;
	border-radius: 5px;
	color: #333;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper .listinfo list list2{
	width: 28%;
	box-sizing: border-box;
	padding: 1vw 4vw;
	color: #666;
	font-size: 3vw;
	
	display: flex;
	justify-content: space-between;
}
.wrapper .listinfo list list2 i{
	font-size: 4vw;
}
.wrapper .listinfo pic{
	width: 100%;
	height: 23vw;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;	
	
	box-sizing: border-box;
	padding: 2vw 2vw;
}
.wrapper .listinfo pic li{
	width: 18vw;
	height: 20vw;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	user-select: none;
	cursor: pointer;
}
.wrapper .listinfo pic li img{
	width: 12vw;
	height: 10vw;
}
.wrapper .listinfo pic li p{
	font-size: 3.2vw;
	font-weight: 500;
	color: #666;
}

/****白银会员部分***/
.wrapper .banner{
	width: 98%;
	margin: 0 auto;
	height: 35vw;
	
	background-image: url(../img/img/会员注册.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	border-radius: 10px;
	box-sizing: border-box;
	padding: 4vw 6vw;
}

/****吃货豆部分***/
.wrapper .banner2{
	width: 100%;
	margin: 0 auto;
	height: 55vw;
	
	background-image: url(../img/img/index_banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	border-radius: 10px;
	box-sizing: border-box;
	padding: 4vw 6vw;
}

/******底部菜单部分*****/
.wrapper .footer{
	width: 100%;
	height: 14vw;
	border-top: solid 1px #DDD;
	background-color: #fff;
	
	position: fixed;
	left: 0;
	bottom: 0;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.wrapper .footer li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: #999;
	user-select: none;
	cursor: pointer;
}
.wrapper .footer li p{
	font-size: 2.8vw;
}
.wrapper .footer li i{
	font-size: 5vw;
}