/**
 * location定位小图标
 */
.icon-location {
	position: relative;
	width: 100%; /*先画一个正方形*/
	height: 100%;
	border-radius: 50% 50% 50% 0; /* 将三个角变成圆角*/
	background: #fff;
	transform: rotate(-45deg); /*最后旋转45度*/
}
.icon-location:after {
	content: '';
	width: 40%;
	height: 40%;
	margin: 30% 0 0 29%;
	background-color: #0097FF;
	position: absolute;
	border-radius: 50%;
}