/**************css重置（把常用标签的默认样式去除，添加我们想要的样式）**********************/
html,body,div,span,h1,h2,h3,h4,h5,h6,ul,ol,li,p{
	margin: 0;/*外边距*/
	padding: 0;/*内边距*/
}
html,body{
	width:100%;
	height: 100%;/*开发移动端网页必要设置*/
	font-family: "微软雅黑";
}
ul,ol{
	list-style: none;/*去掉列表样式*/
}
a{
	text-decoration: none;/*去除超链接下划线*/
}