<template>
	<div class="to-top"  @click="toTop">
		<img src='../assets/goto.jpg'>
	</div>
    
</template>

<script>
export default {
  methods: {
    toTop() {
      document.documentElement.scrollTop = 0;
    },
  },
};
</script>

<style>

.wrapper .to-top img {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 2px;
  }
</style>
