<template>
	<div class="wrapper">
		<!--header部分-->
		<header>
			<!--search部分-->
			<div class="search">
				<div class="search-fixed-top" ref="fixedBox">
					<i class="fa fa-angle-left" @click="toMine"></i>
					<div class="search-box">
						<i class="fa fa-search"></i>搜索我的订单
					</div>
				</div>
			</div>
		</header>
		<!--导航栏部分-->
		<ul class="guidelist">
			<li class="all">全部</li>
			<li class="unpaid" @click="toUnpaid">待付款</li>
			<li class="unreceived">待收货</li>
			<li class="unused">待使用</li>
			<li class="uncomment" @click="toUncomment">待评价</li>
			<li class="returnMoney">退款/售后</li>
		</ul>

		<div class="allorder">
			<!-- 订单列表部分 -->
			<h3>未支付订单信息：</h3>
			<ul class="order">
				<!-- 按订单状态列出未支付订单 -->
				<li v-for="item in orderArr" v-show="item.orderState==0">
					<div class="order-info">
						<p>
							{{item.business.businessName}}
							<i class="fa fa-caret-down" @click="detailetShow(item)"></i>
						</p>
						<div class="order-info-right">
							<p>&#165;{{item.orderTotal}}</p>
							<div class="order-info-right-icon" @click="toPayment(item.orderId)">去支付</div>
						</div>
					</div>
					<ul class="order-detailet" v-show="item.isShowDetailet">
						<li v-for="odItem in item.list">
							<p>{{odItem.food.foodName}} x {{odItem.quantity}}</p>
							<p>&#165;{{odItem.food.foodPrice*odItem.quantity}}</p>
						</li>
						<li>
							<p>配送费</p>
							<p>&#165;{{item.business.deliveryPrice}}</p>
						</li>
					</ul>
				</li>
			</ul>

			<h3>未评价订单信息：</h3>
			<ul class="order">
				<!-- 通过新增接口获取未评价订单 -->
				<li v-for="item in uncommentorderArr">
					<div class="order-info">
						<p>
							{{item.business.businessName}}
							<i class="fa fa-caret-down" @click="detailetShow(item)"></i>
						</p>
						<div class="order-info-right">
							<p>&#165;{{item.orderTotal}}</p>
							<div class="order-info-right-icon2" @click="toUserComment(item.orderId, item.businessId)">
								去评价
							</div>
						</div>
					</div>
					<ul class="order-detailet" v-show="item.isShowDetailet">
						<li v-for="odItem in item.list">
							<p>{{odItem.food.foodName}} x {{odItem.quantity}}</p>
							<p>&#165;{{odItem.food.foodPrice*odItem.quantity}}</p>
						</li>
						<li>
							<p>配送费</p>
							<p>&#165;{{item.business.deliveryPrice}}</p>
						</li>
					</ul>
				</li>
			</ul>

			<h3>已完成订单信息：</h3>
			<ul class="order">
				<!-- 根据评论状态列出已完成订单 -->
				<li v-for="item in orderArr" v-show="item.commentState==1">
					<div class="order-info">
						<p>
							{{item.business.businessName}}
							<i class="fa fa-caret-down" @click="detailetShow(item)"></i>
						</p>
						<div class="order-info-right">
							<p>&#165;{{item.orderTotal}}</p>
							<div class="order-info-right-icon3">
								已完成
							</div>
						</div>
					</div>
					<ul class="order-detailet" v-show="item.isShowDetailet">
						<li v-for="odItem in item.list">
							<p>{{odItem.food.foodName}} x {{odItem.quantity}}</p>
							<p>&#165;{{odItem.food.foodPrice*odItem.quantity}}</p>
						</li>
						<li>
							<p>配送费</p>
							<p>&#165;{{item.business.deliveryPrice}}</p>
						</li>
					</ul>
				</li>
			</ul>

		</div>
		<goto></goto>
	</div>
</template>

<script>
	import Footer from '../components/Footer.vue';
	import goto from '../components/goto.vue';
	export default {
		name: 'MyAllOrders',
		data() {
			return {
				orderArr: [],
				user: {}
			}
		},
		//挂载后启动搜索快固定特效
		beforeMount () {
		//mounted() {
			//使用箭头函数指向vue对象
			document.onscroll = () => {
				//获取滚动条位置
				let s1 = document.documentElement.scrollTop;
				let s2 = document.body.scrollTop;
				let scroll = s1 == 0 ? s2 : s1;
				//获取视口宽度
				let width = document.documentElement.clientWidth;
				//使用vue自带api代替下面一行代码 
				let search = this.$refs.fixedBox;

				/*
				//获取顶部固定块
				let search = document.getElementById('fixedBox');
				*/

				//判断滚动条超过视口宽度的12%时，搜索块变成固定定位
				if (scroll > width * 0.12) {
					search.style.position = 'fixed';
					search.style.left = '0';
					search.style.top = '0';
				} else {
					search.style.position = 'static';
				}
			}
		},
		//增加生命周期，组件卸载后去掉document滚动条事件
		destroyed() {
			document.onscroll = null;
		},
		created() {
			this.user = this.$getSessionStorage('user');

			//根据userId列出历史订单
			this.$axios.post('OrdersController/listOrdersByUserId', this.$qs.stringify({
				userId: this.user.userId
			})).then(response => {
				let result = response.data;
				for (let orders of result) {
					orders.isShowDetailet = false;
				}
				this.orderArr = result;
			}).catch(error => {
				console.error(error);
			});

			//根据userId获取未评论订单
			this.$axios.post('OrdersController/listUncommentedOrders', this.$qs.stringify({
				userId: this.user.userId
			})).then(response => {
				let result = response.data;
				for (let orders of result) {
					orders.isShowDetailet = false;
				}
				this.uncommentorderArr = result;
			}).catch(error => {
				console.error(error);
			});
		},
		methods: {
			//列出订单详细信息
			detailetShow(orders) {
				orders.isShowDetailet = !orders.isShowDetailet;
			},
			//前往“我的”页面
			toMine() {
				this.$router.push({
					path: '/mine',
					query: {
						userId: this.user.userId
					}
				});
			},
			//前往“未支付”页面
			toUnpaid() {
				this.$router.push({
					path: '/unpaid',
					query: {
						userId: this.user.userId
					}
				});
			},
			//前往“未评论”页面
			toUncomment() {
				this.$router.push({
					path: '/uncomment',
					query: {
						userId: this.user.userId
					}
				});
			},
			//前往“支付”页面
			toPayment(orderId) {
				this.$router.push({
					path: '/payment',
					query: {
						orderId: orderId
					}
				});
			},
			//去给订单评论
			toUserComment(orderId, businessId) {
				this.$router.push({
					path: '/usercomment',
					query: {
						businessId: businessId,
						orderId: orderId
					}
				});
			}
		},
		//共通组件，底部菜单、悬浮窗
		components: {
			Footer,
			goto
		}
	}
</script>

<style scoped>
	body {
		background-color: #eee;
	}

	/****总容器部分***/
	.wrapper {
		width: 100%;
		height: 100%;
		background-color: #eee;
	}

	/****header部分***/
	.wrapper header {
		width: 100%;
		height: 12vw;
		display: flex;
		align-items: center;
	}

	/****search部分***/
	.wrapper .search {
		width: 100%;
		height: 13vw;
	}

	.wrapper .search .search-fixed-top {
		width: 100%;
		height: 13vw;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.wrapper .search .search-fixed-top .fa-angle-left {
		font-size: 8vw;
		margin-left: 2vw;
	}

	.wrapper .search .search-fixed-top .search-box {
		width: 88%;
		height: 9vw;
		background-color: #eee;
		border-radius: 5px;

		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 3.5vw;
		color: #AEAEAE;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		/*此样式是让文本选中状态无效 */
		user-select: none;

		margin-right: 2vw;
	}

	.wrapper .search .search-fixed-top .search-box .fa-search {
		margin-right: 1vw;
	}

	/***********导航栏***********/
	.wrapper .guidelist {
		width: 100%;
		height: 12vw;
		font-size: 3.5vw;
		font-weight: 550;
		color: grey;
		background-color: #fff;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.wrapper .guidelist .all {
		border-bottom: solid 2px gold;
	}

	/******历史订单列表部分*****/
	.wrapper .allorder {
		width: 100%;
		margin-top: 1vw;
	}

	.wrapper .allorder h3 {
		width: 98%;
		background-color: #fff;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 3vw;
		margin-left: 1%;
		font-size: 4vw;
		font-weight: 600;
		color: #999;
		border-bottom: solid 1px #DDD;
		border-top: solid 1px #DDD;
	}

	.wrapper .allorder .order {
		width: 100%;

	}

	.wrapper .allorder .order li {
		width: 98%;
		background-color: #fff;
		box-sizing: border-box;
		border-radius: 4px;
		margin-left: 1%;
		margin-bottom: 0.5vw;
	}

	.wrapper .allorder .order li .order-info {
		box-sizing: border-box;
		padding: 2vw 4vw;
		font-size: 4vw;
		color: #666;

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	.wrapper .allorder .order li .order-info .order-info-right {
		display: flex;
	}

	.wrapper .order li .order-info .order-info-right .order-info-right-icon {
		background-color: #f90;
		color: #fff;
		border-radius: 3px;
		margin-left: 2vw;
		user-select: none;
		cursor: pointer;
	}

	.wrapper .order li .order-info .order-info-right .order-info-right-icon2 {
		background-color: #ffaaff;
		color: #fff;
		border-radius: 3px;
		margin-left: 2vw;
		user-select: none;
		cursor: pointer;
	}

	.wrapper .order li .order-info .order-info-right .order-info-right-icon3 {
		background-color: #ddd;
		color: #fff;
		border-radius: 3px;
		margin-left: 2vw;
		user-select: none;
		cursor: pointer;
	}

	.wrapper .allorder .order li .order-detailet {
		width: 98%;
	}

	.wrapper .allorder .order li .order-detailet li {
		width: 100%;
		box-sizing: border-box;
		padding: 1vw 4vw;
		color: #666;
		font-size: 3vw;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/******已支付订单****/
	.wrapper .allorder .alreadyorder {
		width: 100%;
	}

	.wrapper .allorder .alreadyorder li {
		width: 98%;
		background-color: #fff;
		box-sizing: border-box;
		border-radius: 4px;
		margin-left: 1%;
		margin-bottom: 0.5vw;
	}

	.wrapper .allorder .alreadyorder li .order-info {
		box-sizing: border-box;
		padding: 2vw 4vw;
		font-size: 4vw;
		color: #666;

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	.wrapper .allorder .alreadyorder li .order-info .order-info-right {
		display: flex;
	}

	.wrapper .allorder .alreadyorder li .order-info .order-info-right .order-info-right-icon {
		background-color: #ffaaff;
		color: #fff;
		border-radius: 3px;
		margin-left: 2vw;
		user-select: none;
		cursor: pointer;
	}

	.wrapper .allorder .alreadyorder li .order-detailet {
		width: 100%;
	}

	.wrapper .allorder .alreadyorder li .order-detailet li {
		width: 98%;
		box-sizing: border-box;
		padding: 1vw 4vw;
		color: #666;
		font-size: 3vw;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
</style>
