<template>
	<div>
		<img src="../assets/Screenshot_20230903_084052_edit_112379798563067.jpg">
		<button @click="finish">我已支付</button>
	</div>
</template>

<script>
	export default {
		data(){
		return {
		userId:this.$route.query.userId,
		total:this.$route.query.total,
		use:this.$route.query.use,
		orderId:this.$route.query.orderId,
		}
		},
		created() {
			// alert(this.userId)
			
			
		},
		
		methods:{
			finish(){
				this.$axios.post('UserController/addjifen',this.$qs.stringify({
				userId:this.userId,
				total:this.total,
				})).then(response=>{
				
				}).catch(error=>{
				console.error(error);
				});
				this.$axios.post('UserController/updatajifen',this.$qs.stringify({
				userId:this.userId,
				use:this.use,
				})).then(response=>{
				
				}).catch(error=>{
				console.error(error);
				});
				this.$axios.post('OrdersController/updateOrders',this.$qs.stringify({
				orderId:this.$route.query.orderId,
				})).then(response=>{
				
				}).catch(error=>{
				console.error(error);
				});
				
				
				
				this.$router.push({path:'/index'});
			}
		}
		
	}
	
</script>

<style scoped>
	div{
		height: 40vw;
		width:30vw;
	}
	img{
		width: 50vw;
		margin: 50vw 30vw 0vw 30vw;
	}
	button{
		width: 20vw;
		margin-left: 40vw;
	}
	
</style>
