<template>
	<div class="wrapper">
		<!--header部分-->
		<header>
			<!--search部分-->
			<div class="search">
				<div class="search-fixed-top" ref="fixedBox">
					<i class="fa fa-angle-left" @click="toMine()"></i>
					<div class="search-box">
						<i class="fa fa-search"></i>搜索我的订单
					</div>
				</div>
			</div>
		</header>
		<!--导航栏部分-->
		<ul class="guidelist">
			<li class="all" @click="toMyAllOrders">全部</li>
			<li class="unpaid">待付款</li>
			<li class="unreceived">待收货</li>
			<li class="unused">待使用</li>
			<li class="uncomment" @click="toUncomment">待评价</li>
			<li class="returnMoney">退款/售后</li>
		</ul>
	
		<div class="allorder">
			<h3>未支付订单信息</h3>
			<ul class="order">
			
				<li v-for="item in orderArr" v-show="item.orderState==0">
					<div class="order-info">
						<p>
							{{item.business.businessName}}
							<i class="fa fa-caret-down" @click="detailetShow(item)"></i>
						</p>
						<div class="order-info-right">
							<p>&#165;{{item.orderTotal}}</p>
							<div class="order-info-right-icon" @click="toPayment">去支付</div>
						</div>
					</div>
					<ul class="order-detailet" v-show="item.isShowDetailet">
						<li v-for="odItem in item.list">
							<p>{{odItem.food.foodName}} x {{odItem.quantity}}</p>
							<p>&#165;{{odItem.food.foodPrice*odItem.quantity}}</p>
						</li>
						<li>
							<p>配送费</p>
							<p>&#165;{{item.business.deliveryPrice}}</p>
						</li>
					</ul>
				</li>
			</ul>
			
		</div>
		<goto></goto>
	</div>
</template>

<script>
	import Footer from '../components/Footer.vue';
	import goto from '../components/goto.vue';
	export default {
		name: 'Unpaid',
		data() {
			return {
				orderArr: [],
				user: {}
			}
		},
		//挂载后启动搜索快固定特效
		beforeMount() {
		//mounted() {
			//使用箭头函数指向vue对象
			document.onscroll = () => {
				//获取滚动条位置
				let s1 = document.documentElement.scrollTop;
				let s2 = document.body.scrollTop;
				let scroll = s1 == 0 ? s2 : s1;
				//获取视口宽度
				let width = document.documentElement.clientWidth;
				//使用vue自带api代替下面一行代码 
				let search = this.$refs.fixedBox;
		
				/*
				//获取顶部固定块
				let search = document.getElementById('fixedBox');
				*/
		
				//判断滚动条超过视口宽度的12%时，搜索块变成固定定位
				if (scroll > width * 0.12) {
					search.style.position = 'fixed';
					search.style.left = '0';
					search.style.top = '0';
				} else {
					search.style.position = 'static';
				}
			}
		},
		//增加生命周期，组件卸载后去掉document滚动条事件
		beforeUnmount() {
		//destroyed() {
			document.onscroll = null;
		},
		created() {
			this.user = this.$getSessionStorage('user');
	
			this.$axios.post('OrdersController/listOrdersByUserId', this.$qs.stringify({
				userId: this.user.userId
			})).then(response => {
				let result = response.data;
				for (let orders of result) {
					orders.isShowDetailet = false;
				}
				this.orderArr = result;
			}).catch(error => {
				console.error(error);
			});
		},
		methods: {
			detailetShow(orders) {
				orders.isShowDetailet = !orders.isShowDetailet;
			},
			toMine(){
				this.$router.push({
					path: '/mine',
					query: {
						userId: this.user.userId
					}
				});
			},
			toMyAllOrders(){
				this.$router.push({
					path: '/myallorders',
					query: {
						userId: this.user.userId
					}
				});
			},
			toUncomment(){
				this.$router.push({
					path: '/uncomment',
					query: {
						userId: this.user.userId
					}
				});
			},
			toPayment() {
				if (this.deliveryaddress == null) {
					alert('请选择送货地址！');
					return;
				}
	
				//创建订单
				this.$axios.post('OrdersController/createOrders', this.$qs.stringify({
					userId: this.user.userId,
					businessId: this.businessId,
					daId: this.deliveryaddress.daId,
					orderTotal: this.totalPrice
				})).then(response => {
					let orderId = response.data;
					if (orderId > 0) {
						this.$router.push({
							path: '/payment',
							query: {
								orderId: orderId
							}
						});
					} else {
						alert('创建订单失败！');
					}
				}).catch(error => {
					console.error(error);
				});
			}
		},
		toUserComment() {
			this.$axios.post('CommentController/saveComment', this.$qs.stringify({
				
			})).then(response => {
				let orderId = response.data;
				if (orderId > 0) {
					this.$router.push({
						path: '/usercomment',
						query: {
							orderId: orderId
						}
					});
				} else {
					alert('评价失败！');
				}
			}).catch(error => {
				console.error(error);
			});
		},
		components: {
			Footer,
			goto
		}
	}
</script>

<style scoped>
	body{
		background-color: #eee;
	}
	/****总容器部分***/
	.wrapper{
		width: 100%;
		height: 100%;
		background-color: #eee;
	}
	
	/****header部分***/
	.wrapper header{
		width: 100%;
		height: 12vw;
		display: flex;
		align-items: center;
	}
	/****search部分***/
	.wrapper .search{
		width: 100%;
		height: 13vw;
	}
	.wrapper .search .search-fixed-top{
		width: 100%;
		height: 13vw;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.wrapper .search .search-fixed-top .fa-angle-left{
		font-size: 8vw;
		margin-left: 2vw;
	}
	.wrapper .search .search-fixed-top .search-box{
		width: 88%;
		height: 9vw;
		background-color: #eee;
		border-radius: 5px;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		font-size: 3.5vw;
		color: #AEAEAE;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		/*此样式是让文本选中状态无效 */
		user-select: none;
		
		margin-right: 2vw;
	}
	.wrapper .search .search-fixed-top .search-box .fa-search{
		margin-right: 1vw;
	}
	
	/***********导航栏***********/
	.wrapper .guidelist{
		width: 100%;
		height: 12vw;
		font-size: 3.5vw;
		font-weight: 550;
		color: grey;
		background-color: #fff;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.wrapper .guidelist .unpaid{ 
		border-bottom: solid 2px gold;
	}
	
	/******历史订单列表部分*****/
	.wrapper .allorder{
		width: 100%;
		margin-top: 1vw;
	}
	.wrapper .allorder h3{
		width:98%;
		background-color: #fff;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 3vw;
		margin-left: 1%;
		font-size: 4vw;
		font-weight: 600;
		color: #999;
		border-bottom: solid 1px #DDD;
		border-top: solid 1px #DDD;
	}
	.wrapper .allorder .order{
		width: 100%;
		
	}
	.wrapper .allorder .order li{
		width: 98%;
		background-color: #fff;
		box-sizing: border-box;
		border-radius: 4px;
		margin-left: 1%;
		margin-bottom: 0.5vw;
	}
	.wrapper .allorder .order li .order-info{
		box-sizing: border-box;
		padding: 2vw 4vw;
		font-size: 4vw;
		color: #666;
		
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	.wrapper .allorder .order li .order-info .order-info-right{
		display: flex;
	}
	.wrapper .allorder .order li .order-info .order-info-right .order-info-right-icon{
		background-color: #f90;
		color:#fff;
		border-radius: 3px;
		margin-left: 2vw;
		user-select: none;
		cursor: pointer;
	}
	.wrapper .allorder .order li .order-detailet{
		width: 98%;
	}
	.wrapper .allorder .order li .order-detailet li{
		width: 100%;
		box-sizing: border-box;
		padding: 1vw 4vw;
		color: #666;
		font-size: 3vw;
		
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
</style>